.image1 {
  background-image: url('/images/GYD 2024.png');
}
.image2 {
  background-image: url('/images/AYM.jpg');
}
.image3 {
  background-image: url('/images/frontend-engineering.jpg');
}
.image4 {
  background-image: url('/images/backend-engineering.jpg');
}